.box-details {
    width: 450px;
    height: 650px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
}

.coin-img-cont {
    height: 200px;
    width: 100%;
    background-color: rgba(70, 70, 223, 0.747);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
}

.image-details {
    width: 150px;
}

.coin-details-info {
    height: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.coin-details-info p {
    font-size: 20px;
}

.details-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    padding: 5px;
}

@media screen and (max-width: 426px) {
    .box-details {
        width: 350px;
        height: 550px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: whitesmoke;
    }

    .coin-img-cont {
        height: 200px;
        width: 350px;
        background-color: rgba(70, 70, 223, 0.747);
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 0px;
    }

    .image-details {
        width: 80px;
    }

    .coin-details-info {
        height: 100%;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .details-content {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 300px;
        padding: 5px;
    }

    h3 {
        margin-right: 15px;
    }
}