.layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: whitesmoke;
}

@media screen and (max-width: 426px) {
    .layout {
        width: 420px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: whitesmoke;
    }
}