.modal-open {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.719);
}

.modal-close {
    font-size: 30px;
    color: whitesmoke;
    cursor: pointer;
}

.modal-close:hover {
    transform: scale(1.2);
    transition: 0.2s ease-in-out;
}